.container {
  background: url("/fundo-texto.svg") center right,
    url("/fundo-detalhes.svg") right, url("/fundo.png");

  background-size: auto, contain, contain;
  background-repeat: no-repeat;
  background-position-y: 10%, 0, 0;
  background-position-x: right;
  min-height: 100vh;
}
