.container {
  background: url("/fundo-texto.svg") center right,
    url("/fundo-detalhes.svg") right, url("/fundo.png");

  background-size: auto, cover, cover;
  background-repeat: no-repeat;
  background-position-y: 20%, 0, 0;
  background-position-x: right;
  height: 100vh;
}
